<div class="page">
    <div class="page__content">
        {{!-- <header class="header">
            <button class="button">
                <img src="/svg/back.svg" alt="photo">
            </button>
            <button class="button">
                <img src="/img/profil.png" alt="photo">
            </button>
        </header>
        <h1 class="text__title">Коммьюніті</h1>
        <main class="main">
            <div class="main__header">
                <button class="btn-content ">
                    База знань
                </button>
                <button class="btn-content--checked">
                    Інформація
                </button>
            </div>
            <img class="hero__img" src="/img/hero.png" alt="">
            <div class="article">
                <p class="article__title">Що таке база знань?</p>
                <p class="article__text">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в некоторой предметной
                области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом решения предыдущих
                задач.</p>
            </div>
            <button class="btn__submit">Перейти до ком'юніті у Телеграм</button>
        </main> --}}
    </div>
</div>